@import "config";
@import "utilities";

.block-container {
  // h1 is hidden
  h1 {
    display: none;
  }
  .block {
    height: 300px;
    width: 330px;
  }
  #block1 {
    width: 700px;
    height: 245px;
    background-color: $bg-color;
    // margin: 5% 28% 0% 25%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h2 {
      color: $Cyan;
      padding: 0px 0px 14px 0px;
    }
    h3 {
      color: $Bright-Yellow;
      // padding: top right bottom left
      padding: 0px 0px 9px 0px;
    }
    .para1 {
      color: $Grayish-Blue;
      line-height: 1.5;
    }
    .parablock1 {
      margin: 8% 9% 0% 7%;
    }
  }
  #block2 {
    background-color: $Cyan;
    h1 {
      display: inline-block;
    }
  }
  #block3 {
    width: 325px;
    background-color: lighten($Cyan, 10%);
  }
}
@import "mobile";
