@media screen and (max-width: 400px) {
  body {
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 390px 380px;
  }
}
@media screen and (min-width: 400px) and (max-width: 900px) {
  .container {
    flex-direction: row;

    .logocontainer {
      width: auto;
    }
  }
}
