* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

/* 500 bold */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");
/* font-family: 'Spartan', sans-serif; */

/* 400 bold */
@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-size: 15px;
  height: 90%;
  width: 100%;
  border: 5px solid rgb(4, 247, 234);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
main {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.main-container {
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.paradiv {
  border: 2px solid green;
  width: 370px;
  color: var(--Dark-Grayish-Magenta);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  border: 2px solid yellow;
  width: 220px;
  color: var(--Very-Dark-Magenta);
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}
p {
  border: 2px solid rgb(18, 231, 46);
}
.rated {
  border: 2px solid plum;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#star {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  color: var(--Very-Dark-Magenta);
}
.five-star {
  margin-bottom: 4px;
}
#five-star1 {
  margin-left: 0px;
  padding: 5px;
  border: 2px solid;
}
#five-star2 {
  margin-left: 26px;
  padding: 5px;
  border: 2px solid;
}
#five-star3 {
  margin-left: 56px;
  padding: 5px;
  border: 2px solid;
}

.container {
  border: 2px solid darkviolet;
  border: 2px solid darkviolet;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  height: 200px;
  border: 2px solid brown;
}
footer {
  border: 2px solid orange;
}
@media screen and (max-width: 792px) and (min-width: 200px) {
  .paradiv {
    align-items: center;
    width: auto;
  }
  p {
    width: 255px;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .rated {
    align-items: center;
  }
  #star {
    width: 100px;
  }
  #five-star1 {
    margin-left: 0px;
  }
  #five-star2 {
    margin-left: 0px;
  }
  #five-star3 {
    margin-left: 0px;
  }
}
