* {
  margin: 0;
  padding: 0;
}

/* 700 bold */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
/* font-family: 'Spartan', sans-serif; */

/* 500 bold */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");
/* font-family: 'Spartan', sans-serif; */

/* 400 bold */
@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
/* font-family: 'Spartan', sans-serif; */

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-size: 15px;
  height: 100vh;
  border: 5px solid rgb(4, 247, 234);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
main {
  border: 2px solid red;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.main-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.paradiv {
  border: 2px solid green;
  width: 370px;
}
h1 {
  border: 2px solid yellow;
  width: 200px;
}
.rated {
  border: 2px solid plum;
}
.container {
  border: 2px solid darkviolet;
}
footer {
  border: 2px solid orange;
}
