:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border: 2px solid var(--Red);
  height: 100%;
}
.maincontainer {
  border: 2px solid #083535;
}
.para_heading {
  border: 2px solid brown;
  padding: 3px 5px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#text1 {
  font-size: 30px;
  border: 2px dotted blueviolet;
}
h1 {
  border: 2px solid fuchsia;
}
#text2 {
  border: 2px dashed yellowgreen;
  width: 500px;
}
.box_container {
  border: 2px solid peru;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  border: 2px dashed #2b2b26;
  width: 300px;
  height: 200px;
  margin: 0px 0px 0px 12px;
}
#box1 {
  margin-top: 12%;
}
#box2 {
  margin-top: 3%;
}
#box3 {
  order: 2;
  margin-top: -8%;
}
#box4 {
  margin-top: 12%;
}

span {
  font-weight: 600;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 1240px) {
  #box3 {
    order: 2;
    margin-top: -7%;
    margin-right: 13%;
    margin-left: 14%;
  }
}
@media screen and (max-width: 1009px) and (min-width: 830px) {
  .box {
    margin: 0px 0px 0px 8px;
    width: 260px;
  }
  #box4 {
    margin-top: 11%;
  }
}
@media screen and (max-width: 829px) and (min-width: 500px) {
  .box {
    width: 200px;
    height: 300px;
  }
  #box2 {
    margin-top: 12%;
  }
  #box3 {
    /* margin-top: 1%; */
    margin-top: 12%;
  }
  #box4 {
    margin-top: 2%;
    order: 2;
  }
}
@media screen and (max-width: 659px) and (min-width: 500px) {
  #box3 {
    margin-top: 1%;
    /* margin-top: 12%; */
  }
  #box4 {
    margin-top: 1%;
  }
}

@media screen and (max-width: 499px) {
  .box {
    height: 250px;
  }
  #text1 {
    font-size: 22px;
  }
  h1 {
    font-size: 22px;
  }
  #text2 {
    width: 255px;
    font-size: 12px;
  }
  .box {
    margin: 0;
  }
  #box1 {
    margin-top: 8%;
  }
  #box3 {
    margin-top: 3%;
  }
  #box4 {
    margin-top: 3%;
    order: 2;
  }
}
